
html {
  width: 100%;
  height: 100%;
}

body {
 	 font-family: 'Montserrat', sans-serif;
 	 background-image: url(background.jpg);
		background-size:cover;
}
.row{
	border-bottom: 5px solid gray;
}
span{
	font-size: 2em;
	color:darkgreen;
	font-style: italic;
	font-weight:900;
	font-family:fantasy;

}
.flextry{
	display: flex;
	flex-direction: column;
}
.btn{
	
	margin-top:35em;
	margin-left:32em;
	background-color:darkgreen;
	
}
.col{



}

