.items{
    color:green;
}
.delete{
    color:red;
    text-decoration: line-through;
}
li:hover{
    text-decoration:line-through;
}
header{
    background-color:rgb(79, 82, 219);
    height:10vh;
    text-align:center;
    
}
span{
    color:white;
    text-shadow: 2px 2px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-top:10px;
}
input,button,li{
    text-align:center;
    width:200px;
    height:50px;
    margin:auto;
    display:inline-block;
}
button{
    height:30px;
    width:100px;
}
